@import url(./font.css);

:root {
  --bg-color: #5b2386;
  --yellow-text: #f5df4d;
  --main-text: #fff;
  --gray-text: #babcbe;
  --yellow-button: #fcee21;
  --yellow-button-hover: #e9da14;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  font-family: "GmarketSans", sans-serif;
  color: var(--main-text);
  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */

header {
  padding-top: 7.5rem;
}

.title {
  margin: 0 2.56rem 3.25rem;
  width: min(100%, 564px);
  height: auto;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
a {
  padding: 1.25rem 3.125rem;
  border-radius: 0.75rem;
  background-color: var(--yellow-button);
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.15);

  color: var(--bg-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

button:hover,
a:hover {
  background-color: var(--yellow-button-hover);
}

q {
  display: inline-block;
  font-size: 2.25rem;
  font-family: "OTEnjoystoriesBA", sans-serif;
  color: var(--yellow-text);
  margin: 0 0 5rem;
}

.define {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 6.25rem;
  line-height: 1.7;

  position: relative;
}

.define::before,
.define::after {
  content: "";
  display: inline-block;
  width: 2.25rem;
  height: 2rem;
  background: url(../image/“.png) no-repeat;

  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.define::before {
  left: -3.5rem;
}

.define::after {
  right: -3.5rem;
  transform: translate(0, -50%) rotate(180deg);
}

.define > dfn {
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}

form > p,
.result {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 6.25rem;
}

input {
  width: 14.25rem;
  padding: 1rem 2.5rem;
  margin: 0 1.25rem 1.25rem;
  gap: 0.625rem;

  border-radius: 0.5rem;
  background: #fff;
  color: var(--bg-color);

  position: relative;
}

input::placeholder {
  color: var(--gray-text);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -42%);
}

form > button {
  display: block;
  margin: auto;
  margin-bottom: 8.87rem;
  position: relative;
}

form > button::after {
  content: "";
  display: inline-block;
  width: 4rem;
  height: 4.5rem;
  background: url(../image/icon.png) no-repeat;

  position: absolute;
  top: 25%;
  right: -4.44rem;
}

[id^="result"] {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0.75rem;
  vertical-align: middle;
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 7.5rem;
}

.btn-group :nth-child(2) {
  background-color: #fff;
}

.btn-group :nth-child(2):hover {
  background-color: rgb(243, 241, 241);
}

/* modal */
.modal-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-bg[aria-hidden="true"] {
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50rem;
  padding: 5rem 0;
  background-color: #fff;
  color: #5b2386;
  text-align: center;
  border-radius: 1.25rem;
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.15);
}

.modal > p {
  font-family: "OTEnjoystoriesBA", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.9;
  margin-bottom: 0.25rem;
}

.modal > span {
  font-family: "OTEnjoystoriesBA", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.modal > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal img {
  width: 27.375rem;
  height: 21.375rem;
  margin-bottom: 3.75rem;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6.63rem;
}

footer > img {
  margin-bottom: 1.25rem;
}

footer > p {
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
